
.navbar_ppal {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: $color-nav-bg;
    border-bottom: 1px solid $color-nav-border;
    color: $color-text-light;
}
.brand{
    color: $color-text-light;
}
.navbar_auth{
    display: flex;
    height: 100%;
}

.navbar_list {
    display: flex;
    justify-content: flex-end;
    
}
.btn_modal {
    cursor: pointer;
    border: 0;
    height: 100%;
    padding: 0 2em;
    font-weight: bold;
    background-color: $color-nav-bg;
    color: $color-text-light;
    &:hover{
        background-color: $color-navbtn-hover;
    }
}
.navbar_user_img {
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.user_img {
    @include profile-photo;
    @include circle;
}