.body_title{
    font-size: 35px;
    font-weight: bold;
    margin: 1.5em 0;
}

.posts_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.post_card {
    min-width: 48%;
    max-width: 300px;
    max-height: 500px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
    display: inline-block;
}
 
.post_card .card_img {
    transition: all 0.15s linear;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    filter: brightness(50%);
    
}
 
.post_card .card_title {
    margin: 0;
    position: absolute;
    bottom: 35%;
    left: 3%;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    transition: all 0.15s linear;
}
 
.post_card .card_subtitle {
    margin: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    bottom: 30%;
    left: 40px;
    transition: all 0.15s linear;
}
.post_card .author_comp {
    display: flex;
    align-items: center;
    position: absolute;
    width: 95%;
    color: $color-text-light;
    top: 2%;
    left: 3%;
    transition: all 0.15s linear;
    .author_img {
        transition: all 0.15s linear;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        margin-right: 1em;
    }
    a {
        flex: 1;
    }
    .author_name{
        color: $color-text-light; 
        font-size: .9em;
        transition: all 0.1s linear;
    }
    .author_name:hover{
        color: $color-btncall;
        font-weight: bold;
    }
    .date_post {
        font-size: .9em;
    }
}
 
.post_card .card_call {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%,rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0));
    color: #FFF;
    padding: 50px 0 30px;
    transition: all 0.15s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 
.post_card .card_call p {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 25px;
    padding-right: 25px;
}
 
.post_card:hover .card_title {
    padding-left: 25px;
}
 
.post_card:hover .card_subtitle {
    left: 60px;
}
 
.card_call_btn{
    padding: 1em 5em;
}
.post_card:hover .card_call_btn{
     padding: 1em 8em;
}
 
.post_card:hover .card_img {
    transform: scale(1.05);
}