*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family: $body-font;
  color: $color-text;
  overflow-x: hidden;
  background: $color-body-bg;
  color: $color-text-light;  
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: $color-text;
  text-decoration: none;
}
